@media screen and (min-width:320px) {
  header{
    @include flexstart;
    @include wdt1;
  
      & #logo{
        width: 200px;
        @include pad20
    }
  }  

  #search {
    @include flexstart;
    background-color: $gris;
    box-shadow: 0px 5px 12px -10px rgba(0,0,0,0.57) inset;

    & .search-bar{
      padding: 20px 0;

      & i{
        font-size: 1.1em;
        margin-left: 50px;
        color:$bl4ck;
      }
      & input{
        border: none;
        outline: none;
        background: $gris;
        font-size: 1.1em;
        padding-left: 20px;
      }
    }
  }

  #exploration {
    @include flexstart;
    background:$backgrey;
    padding: 30px 0 50px 0;
    @include wdt1;

    & h1, p {
      width: 80%;
      text-align: center;
      padding: 10px 20px;
    }
    & a{
      @include lineargrad;
      @include boxsha;
      @include pad20;
      max-width: 226px;
      text-align: center;
      border-radius: 50px;
      font-family: 'roboto', sans-serif;
      color: $white;
      margin-top: 20px;
      &:hover{
        @include light-btn;
      }
    }
  }

  #fonction{
    @include flexcol;
    justify-content: space-around;
    @include pad20;
    margin-top:20px;
    height: 440px;

    & ul{
      height: 80%;
      @include flexcol;
      justify-content: space-between;

      & li{
        background: $backgrey;
        height: 28%;
        display: flex;
        align-items: center;
        border-radius: 25px;
        @include boxsha;
        color: $icone;
        &:hover{
          color:$primaire;
          background-color: $active;
        }

        & span{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 10px;
          width:25px;
          height: 25px;
          border-radius: 100%;
          background: $primaire;
          color: $white;
        }
        & p{
          color: $bl4ck;
          font-weight: 600;
        }
        & i{
          padding: 20px 20px 20px 35px; 
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #fonction { 
    height: 110px;
    position: relative;
      & h1{
        padding-bottom: 10px;
      }
      & ul{
      display: flex;
      flex-direction: row;

        & li{
        width: 30%;
        height: 100%;
        & span{
          position: relative;
        }
      }
    }
  }
}
#loading{
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background:#353535;
  background-attachment: scroll, local;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: ease-in-out all 2s;
  animation: opacity 100ms 2500ms both;

  & #load{
      font-family: 'Shrikhand', sans-serif;
      align-items: center;
      animation: float 8s infinite;    
  }
  
  & #pulse-card{
      display: flex;
      align-items: center;

      & #pulse-1 {     
          @include circle-anim;
          background: $primaire;
          box-shadow: 0 0 0 0 $primaire;
          animation: pulse 1.2s infinite;
      }
      & #pulse-2 {
          @include circle-anim;
          background: $secondaire;  
          box-shadow: 0 0 0 0 $secondaire;
          animation: pulse 1.4s infinite;     
      }
      & #pulse-3 { 
          @include circle-anim;
          background: $tertiaire;
          box-shadow: 0 0 0 0 $tertiaire;
          animation: pulse 1.6s infinite;      
      }
  }    
}
@keyframes pulse {
  to {
      box-shadow:0 0 0 15px #9256dc07;
  }
}
@keyframes opacity {
  0%{
      opacity: 1;
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 0;
      z-index: -1000;
  }
}
@keyframes float {
  0%{
      transform: translateY(0px);
      font-size: 1em;
  }
  50%{
      transform: translateY(-350px);
      opacity: 0;
      font-size: 2.5em;
  }
}