@media screen and (min-width:320px) {
    #restaurants{
        position: relative;
        display: flex;
        flex-direction: column;
        @include pad20;
        background: $backgrey;

        & h1{
            @include margb20;
        }
        & ul{
            display:flex;
            flex-direction: column;
            justify-content: space-between;

            & li{
                background: $white;
                @include wdt1;
                height: 20%;
                border-radius: 15px;
                @include margb20;
                position: relative;
                @include boxsha;
                &:hover{
                    transform:scale(1.05);
                    transition: ease 0.4s;
                }

                & .new {
                    position: absolute;
                    background: $tertiaire;
                    padding: 10px 15px;
                    right: 3%;
                    top: 4%;
                    font-weight: 600;
                    color:$new;

                }
                & figcaption { 
                    padding: 15px;
                    & h3 {
                        margin-bottom: 5px;
                    }   

                    }
                    & i {
                        position: absolute;
                        right: 7%;
                        bottom: 10%;
                        font-size: 1.5em;
                        margin-right: 12px;
                    }
                }
                & img {
                    width: 100%;
                    height: 200px;
                    border-top-left-radius:15px;
                    border-top-right-radius:15px;
                    object-fit:cover;
                }
            }
        }
    }    
@media screen and (min-width:1024px) {
    #restaurants {
        border-radius: 20px;
        @include margb20;
        
        & ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
            & li{
                width:49%;
            }
        }
    }    
}

@media screen and (min-width:1440px) {
    #restaurants ul{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        & li {
            width: 24%;
        }
    }
}
.add-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background:none;
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 1rem;

    & i{
        font-size: 1.4rem;
        text-align: center;
    }
    & .heart__1{
        transition: all 0.75s;
        z-index: 2;
        cursor: pointer;
        
        &:hover{
            background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    & .heart__1:hover + .heart__2 {
        visibility: visible;
        transform-origin: center;
        opacity: 1;
        font-size: 1.4em;
        animation: zoom-h 1s both;

      }
    & .heart__2{
        position: absolute;
        transition: linear 0.1s ease-in;
        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip:text;
        background-clip: text;
        visibility: hidden;
        opacity: 0;
        font-size: 2em;
        z-index: 1;
        text-align: center;
    }
}