h1, h2, h3, li, p, span {
    font-family: 'roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: none;
    list-style: none;
}
.body-page{
    max-width: 1440px;
    margin: auto;
}
  