@mixin pad20 {
    padding: 20px;
}

@mixin wdt1 {
    width: 100%;
}

@mixin boxsha {
    box-shadow: 0.27em 0.55em 0.55em $boxshadow ;
}

@mixin margb20 {
    margin-bottom: 20px;
}

@mixin lineargrad {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
@mixin linearlight {
    background:linear-gradient(to bottom right, #ff79d9a8, #9256dca8);
}

@mixin light-btn {
    @include linearlight;
    transform:scale(1.1);
    transition: ease 0.3s;
}

@mixin flexstart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flexcol {
    display: flex;
    flex-direction: column;
}
@mixin circle-anim {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 20px;
}