@mixin pad20 {
    padding: 20px;
}

@mixin wdt1 {
    width: 100%;
}

@mixin boxsha {
    box-shadow: 0.27em 0.55em 0.55em #d5d5d5 ;
}

@mixin margb20 {
    margin-bottom: 20px;
}

@mixin lineargrad {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
@mixin linearlight {
    background:linear-gradient(to bottom right, #ff79d9a8, #9256dca8);
}