.add-fav{
    position: absolute;
}
.icon-heart, .add-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background:none;
    right: 15px;
    bottom: 20px;
    font-size: 1rem;

    & i{
        font-size: 1.4rem;
        text-align: center;
    }
    & .heart__1{
        transition: all 0.75s;
        z-index: 2;
        cursor: pointer;
        &:hover{
            background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    & .heart__1:hover + .heart__2 {
        visibility: visible;
        transform-origin: center;
        opacity: 1;
        font-size: 1.4em;
        animation: zoom-h 1s both;
      }
    & .heart__2{
        position: absolute;
        transition: linear 0.1s ease-in;
        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip:text;
        background-clip: text;
        visibility: hidden;
        opacity: 0;
        font-size: 2em;
        z-index: 1;
        text-align: center;
    }
}
#loading{
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    background:#353535;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    animation: loading-opacity 100ms 2500ms both;
  
    & #load{
        font-family: 'Shrikhand', sans-serif;
        align-items: center;
        animation: logo-float 8s infinite;    
    }
    
    & #pulse-card{
        display: flex;
        align-items: center;
  
        & #pulse-1 {     
            @include circle-anim;
            background: $primaire;
            box-shadow: 0 0 0 0 $primaire;
            animation: pulsing 1.2s infinite;
        }
        & #pulse-2 {
            @include circle-anim;
            background: $secondaire;  
            box-shadow: 0 0 0 0 $secondaire;
            animation: pulsing 1.4s infinite;     
        }
        & #pulse-3 { 
            @include circle-anim;
            background: $tertiaire;
            box-shadow: 0 0 0 0 $tertiaire;
            animation: pulsing 1.6s infinite;      
        }
    }    
  }