#loading{
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    background:#353535;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    animation: loading-opacity 100ms 2500ms both;

    & #load{
        font-family: 'Shrikhand', sans-serif;
        align-items: center;
        animation: logo-float 8s infinite;    
    }
    
    & #pulse-card{
        display: flex;
        align-items: center;

        & #pulse-1 {     
            @include circle-anim;
            background: $primaire;
            box-shadow: 0 0 0 0 $primaire;
            animation: pulsing 1.2s infinite;
        }
        & #pulse-2 {
            @include circle-anim;
            background: $secondaire;  
            box-shadow: 0 0 0 0 $secondaire;
            animation: pulsing 1.4s infinite;     
        }
        & #pulse-3 { 
            @include circle-anim;
            background: $tertiaire;
            box-shadow: 0 0 0 0 $tertiaire;
            animation: pulsing 1.6s infinite;      
        }
    }    
}
@keyframes pulsing {
    to {
        box-shadow:0 0 0 15px #9256dc07;
    }
}
@keyframes loading-opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@keyframes logo-float {
    0%{
        transform: translateY(0px);
        font-size: 1em;
    }
    50%{
        transform: translateY(-350px);
        opacity: 0;
        font-size: 2.5em;
    }
}

@keyframes slide-liste {
    0%{
        transform: translate3d(0, 20%, 0);
        opacity: 0;
    }
    100%{
        transform: none; 
        opacity: 1;
    }
}

/*.heart__all{
    animation: heart 1.5s ;
}

@keyframes heart {
    0%{
        color:none;
    }
    100%{
        color: brown;
    }
}*/