#loading {
    position: absolute;
    right: 40%;
    bottom: 20%;
    z-index: 1;
    opacity: 1;
    font-size: 6em;
    font-family: 'Shrikhand', sans-serif;
    border: black 1px solid;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
body {
    opacity: 1;
}