h1, h2, h3, li, p, span {
  font-family: 'roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: none;
  list-style: none;
}

.body-page {
  max-width: 1440px;
  margin: auto;
}

/*#loading{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #0000003f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & #load{
        font-family: 'Shrikhand', sans-serif;
        font-size: 5em;
        align-items: center;
        transition: ease-in-out 3s all;
    }
    & #pulse-card{
        display: flex;
        align-items: center;
        & #pulse-1 {     
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $primaire;
            margin: 20px;
            box-shadow: 0 0 0 0 $primaire;
            animation: pulse 1.2s infinite;
        }
        & #pulse-2 {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 20px;
            background: $secondaire;  
            box-shadow: 0 0 0 0 $secondaire;
            animation: pulse 1.4s infinite;     
        }
        & #pulse-3 { 
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 20px;
            background: $tertiaire;
            box-shadow: 0 0 0 0 $tertiaire;
            animation: pulse 1.6s infinite;      
        }
    }    
}
 @keyframes pulse {
     to {
        box-shadow:0 0 0 10px #9256dc07;
     }
 }
*/
.img-pages {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-menu {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .header-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-page .page-logo {
    padding-left: 40px;
  }
  .header-page .arrow-left {
    padding: 30px;
  }
  .body-plat {
    position: relative;
    background: #ffff;
    margin-top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .tete-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .tete-page h1 {
    font-weight: 500;
    font-family: 'Shrikhand', sans-serif;
  }
  .tete-page i {
    font-size: 1.2em;
    padding: 5px;
  }
  .commander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commander .submit-choice {
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    width: 190px;
    border: none;
    max-width: 226px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-family: 'roboto', sans-serif;
    color: white;
    margin: 20px 0 60px 0;
    font-size: 1.1em;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  }
  .commander .submit-choice:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff79d9a8), to(#9256dca8));
    background: linear-gradient(to bottom right, #ff79d9a8, #9256dca8);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
}

@media screen and (min-width: 320px) {
  .menu-page-entrees {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-page-entrees h2 {
    font-size: 1.1em;
    border-bottom: #99E2D0 3.5px solid;
    width: 11%;
    margin-bottom: 10px;
  }
  .menu-page-entrees ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 400px;
  }
  .menu-page-entrees ul .liste-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffff;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  }
  .menu-page-entrees ul .liste-page h4 {
    font-size: 0.9em;
    color: #7e7e7e;
    font-weight: 400;
    margin-top: 10px;
  }
  .menu-page-entrees ul .liste-page .fas {
    display: none;
  }
  .menu-page-entrees ul .liste-page p {
    position: absolute;
    right: 3%;
    bottom: 20%;
  }
  .menu-page {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-page h2 {
    font-size: 1.1em;
    border-bottom: #99E2D0 3.5px solid;
    width: 11%;
    margin-bottom: 10px;
  }
  .menu-page ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .menu-page ul .liste-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffff;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  }
  .menu-page ul .liste-page h4 {
    font-size: 0.9em;
    color: #7e7e7e;
    font-weight: 400;
    margin-top: 10px;
  }
  .menu-page ul .liste-page .fas {
    display: none;
  }
  .menu-page ul .liste-page p {
    position: absolute;
    right: 3%;
    bottom: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-pc .menu-page, .menu-pc .menu-page-entrees {
    width: 30%;
  }
  .menu-pc .menu-page .liste-page, .menu-pc .menu-page-entrees .liste-page {
    padding: 20px 5px 20px 15px;
  }
}

footer {
  color: #ffff;
  background: #353535;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .foot {
  width: 100%;
  max-width: 1440px;
}

footer .foot h3 {
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

footer .foot li {
  margin-bottom: 10px;
}

footer .foot li i {
  width: 15px;
  margin-right: 10px;
}

footer a {
  color: #ffff;
}
/*# sourceMappingURL=pages.css.map */