h1, h2, h3, li, p, span {
  font-family: 'roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: none;
  list-style: none;
}

.body-page {
  max-width: 1440px;
  margin: auto;
}

.img-pages {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-menu {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .header-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-page .page-logo {
    padding-left: 40px;
  }
  .header-page .arrow-left {
    padding: 30px;
  }
  .body-plat {
    position: relative;
    background: #ffff;
    margin-top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .tete-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .tete-page .hearth {
    background: none;
    border: none;
  }
  .tete-page .hearth i {
    position: absolute;
  }
  .tete-page h1 {
    font-weight: 500;
    font-family: 'Shrikhand', sans-serif;
  }
  .tete-page i {
    font-size: 1.2em;
    padding: 5px;
  }
  .commander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commander .submit-choice {
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    width: 190px;
    border: none;
    max-width: 226px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-family: 'roboto', sans-serif;
    color: white;
    margin: 20px 0 60px 0;
    font-size: 1.1em;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
  }
  .commander .submit-choice:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff79d9a8), to(#9256dca8));
    background: linear-gradient(to bottom right, #ff79d9a8, #9256dca8);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
}

@media screen and (min-width: 320px) {
  .menu-page-entrees {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-page-entrees h2 {
    font-size: 1.1em;
    border-bottom: #99E2D0 3.5px solid;
    width: 11%;
    margin-bottom: 10px;
  }
  .menu-page-entrees ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 400px;
  }
  .menu-page-entrees ul .liste-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffff;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
    -webkit-animation: slide-liste 1s both;
            animation: slide-liste 1s both;
    overflow: hidden;
    opacity: 0;
    width: 90%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-page-entrees ul .liste-page:hover {
    width: 74%;
    overflow: visible;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transform: translateX(70%);
            transform: translateX(70%);
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
  }
  .menu-page-entrees ul .liste-page .fa-check-circle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 0%;
    bottom: 0%;
    right: -61px;
    width: 61px;
    color: #ffff;
    background: #99e2d0;
    font-size: 1.5em;
  }
  .menu-page-entrees ul .liste-page:nth-child(2n+1) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .menu-page-entrees ul .liste-page:nth-child(2n+2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .menu-page-entrees ul .liste-page:nth-child(2n+3) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .menu-page-entrees ul .liste-page:nth-child(2n+4) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .menu-page-entrees ul .liste-page .checked {
    position: absolute;
  }
  .menu-page-entrees ul .liste-page h4 {
    font-size: 0.9em;
    color: #7e7e7e;
    font-weight: 400;
    margin-top: 10px;
    padding-right: 5px;
  }
  .menu-page-entrees ul .liste-page p {
    position: absolute;
    right: 5%;
    bottom: 20%;
    z-index: 3;
  }
  .menu-page {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-page h2 {
    font-size: 1.1em;
    border-bottom: #99E2D0 3.5px solid;
    width: 11%;
    margin-bottom: 10px;
  }
  .menu-page ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .menu-page ul .liste-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffff;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5;
    -webkit-animation: slide-liste 1s both;
            animation: slide-liste 1s both;
    overflow: hidden;
    opacity: 0;
    width: 90%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-page ul .liste-page:hover {
    width: 74%;
    overflow: visible;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transform: translateX(70%);
            transform: translateX(70%);
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
  }
  .menu-page ul .liste-page .fa-check-circle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 0%;
    bottom: 0%;
    right: -61px;
    width: 61px;
    color: #ffff;
    background: #99e2d0;
    font-size: 1.5em;
  }
  .menu-page ul .liste-page:nth-child(2n+1) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .menu-page ul .liste-page:nth-child(2n+2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .menu-page ul .liste-page:nth-child(2n+3) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .menu-page ul .liste-page h4 {
    font-size: 0.9em;
    color: #7e7e7e;
    font-weight: 400;
    margin-top: 10px;
    padding-right: 5px;
  }
  .menu-page ul .liste-page p {
    position: absolute;
    right: 3%;
    bottom: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-pc .menu-page, .menu-pc .menu-page-entrees {
    width: 30%;
  }
  .menu-pc .menu-page .liste-page, .menu-pc .menu-page-entrees .liste-page {
    padding: 20px 5px 20px 15px;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-pc .menu-page .liste-page:hover, .menu-pc .menu-page-entrees .liste-page:hover {
    width: 80%;
    overflow: visible;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transform: translateX(70%);
            transform: translateX(70%);
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
  }
  .menu-pc .menu-page .liste-page .fa-check-circle, .menu-pc .menu-page-entrees .liste-page .fa-check-circle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 0%;
    bottom: 0%;
    right: -61px;
    width: 61px;
    color: #ffff;
    background: #99e2d0;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1440px) {
  .menu-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-pc .menu-page, .menu-pc .menu-page-entrees {
    width: 30%;
  }
  .menu-pc .menu-page .liste-page, .menu-pc .menu-page-entrees .liste-page {
    padding: 20px 5px 20px 15px;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-pc .menu-page .liste-page:hover, .menu-pc .menu-page-entrees .liste-page:hover {
    width: 86%;
    overflow: visible;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transform: translateX(70%);
            transform: translateX(70%);
    -webkit-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
  }
  .menu-pc .menu-page .liste-page .fa-check-circle, .menu-pc .menu-page-entrees .liste-page .fa-check-circle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 0%;
    bottom: 0%;
    right: -61px;
    width: 61px;
    color: #ffff;
    background: #99e2d0;
    font-size: 1.5em;
  }
}

.icon-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  right: 15px;
  bottom: 20px;
  font-size: 1rem;
}

.icon-heart i {
  font-size: 1.4rem;
  text-align: center;
}

.icon-heart .heart__1 {
  position: relative;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  z-index: 2;
  cursor: pointer;
}

.icon-heart .heart__1:hover {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.icon-heart .heart__1:hover + .heart__2 {
  visibility: visible;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 1;
  font-size: 1.4em;
  -webkit-animation-name: zoom-h;
  animation-name: zoom-h;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icon-heart .heart__2 {
  position: absolute;
  -webkit-transition: linear 0.1s ease-in;
  transition: linear 0.1s ease-in;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  visibility: hidden;
  opacity: 0;
  font-size: 2em;
  z-index: 1;
  text-align: center;
}

footer {
  color: #ffff;
  background: #353535;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .foot {
  width: 100%;
  max-width: 1440px;
}

footer .foot h3 {
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

footer .foot li {
  margin-bottom: 10px;
}

footer .foot li i {
  width: 15px;
  margin-right: 10px;
}

footer a {
  color: #ffff;
}

@-webkit-keyframes pulsing {
  to {
    -webkit-box-shadow: 0 0 0 15px #9256dc07;
            box-shadow: 0 0 0 15px #9256dc07;
  }
}

@keyframes pulsing {
  to {
    -webkit-box-shadow: 0 0 0 15px #9256dc07;
            box-shadow: 0 0 0 15px #9256dc07;
  }
}

@-webkit-keyframes loading-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes logo-float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    font-size: 1em;
  }
  50% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
    opacity: 0;
    font-size: 2.5em;
  }
}

@keyframes logo-float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    font-size: 1em;
  }
  50% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
    opacity: 0;
    font-size: 2.5em;
  }
}

@-webkit-keyframes slide-liste {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes slide-liste {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes zoom-index {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoom-index {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoom-h {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoom-h {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=pages.css.map */