.img-pages{
    @include wdt1;
    height: 300px;
    object-fit: cover;
}
.body-menu{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width:320px){
    .header-page{
        display: flex;
        align-items: center;

        & .page-logo {
           padding-left: 40px;
        }
        & .arrow-left{
            padding:30px;
        }
    }
    .body-plat{
        position: relative;
        background:$white;
        margin-top: -40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .tete-page{
        display: flex;
        justify-content: space-between;
        padding:20px;
        & .hearth {
            background: none;
            border: none;
            & i{
                position: absolute;
            }

        }
        & h1{
            font-weight: 500;
            font-family: 'Shrikhand', sans-serif;
        }
        & i{
            font-size: 1.2em;
            padding:5px;
        }
    }
    .commander{
        display: flex;
        align-items: center;
        justify-content: center;

        & .submit-choice{
            @include lineargrad;
            width: 190px;
            border:none;
            max-width: 226px;
            @include pad20;
            text-align: center;
            border-radius: 50px;
            font-family: 'roboto', sans-serif;
            color: white;
            margin: 20px 0 60px 0;
            font-size: 1.1em;
            @include boxsha;
            
            &:hover{
                @include light-btn;
            }
        }
    }
}