.img-pages{
    @include wdt1;
    height: 300px;
    object-fit: cover;
}
.body-menu{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width:320px){
    .header-page{
        display: flex;
        align-items: center;

        & .page-logo {
           padding-left: 40px;
        }
        & .arrow-left{
            padding:30px;
        }
    }
    .body-plat{
        position: relative;
        background:$white;
        margin-top: -40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .tete-page{
        display: flex;
        justify-content: space-between;
        padding:20px;

        & h1{
            font-weight: 500;
            font-family: 'Shrikhand', sans-serif;
        }

        & .icon-heart{
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1rem;
                height: 1rem;
                
                & i{
                    font-size: 1.4rem;
                    text-align: center;
                }
                & .heart__1{
                    position: relative;
                    transition: all 0.75s;
                    z-index: 2;
                    cursor: pointer;
                    
                    &:hover{
                        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        background-clip: text;
                    }
                }
                & .heart__1:hover + .heart__2 {
                    visibility: visible;
                    transform-origin: center;
                    opacity: 1;
                    font-size: 1.4em;
                    -webkit-animation-name: zoom-h;
                            animation-name: zoom-h;
                    -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                  }
                & .heart__2{
                    position: absolute;
                    transition: linear 0.1s ease-in;
                    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip:text;
                    background-clip: text;
                    visibility: hidden;
                    opacity: 0;
                    font-size: 2em;
                    z-index: 1;
                    text-align: center;
                }
            }
        }    
    }
    .commander{
        display: flex;
        align-items: center;
        justify-content: center;

        & .submit-choice{
            @include lineargrad;
            width: 190px;
            border:none;
            max-width: 226px;
            @include pad20;
            text-align: center;
            border-radius: 50px;
            font-family: 'roboto', sans-serif;
            color: white;
            margin: 20px 0 60px 0;
            font-size: 1.1em;
            @include boxsha;
            
            &:hover{
                @include light-btn;
            }
        }
    }