.img-pages{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.body-menu{
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width:320px){
    .header-page{
        display: flex;
        align-items: center;

        & .page-logo {
           padding-left: 40px;
        }
        & .arrow-left{
            padding:30px;
        }
    }
    .body-plat{
        position: relative;
        background:#f2f2f2;
        margin-top: -40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .tete-page{
        display: flex;
        justify-content: space-between;
        padding:20px;

        & h1{
            font-weight: 500;
            font-family: 'Shrikhand', sans-serif;
        }
        & i{
            font-size: 1.2em;
            padding:5px;
        }
    }
    .commander{
        display: flex;
        align-items: center;
        justify-content: center;

        & .submit-choice{
            background: linear-gradient(to bottom right, #FF79DA, #9356DC);
            width: 190px;
            border:none;
            max-width: 226px;
            padding: 20px;
            text-align: center;
            border-radius: 50px;
            font-family: 'roboto', sans-serif;
            color: white;
            margin: 20px 0 60px 0;
            font-size: 1.1em;
            box-shadow: 0.27em 0.55em 0.55em #d5d5d5
        }
    }
}