@media screen and (min-width:320px) {
    .menu-page-entrees{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            position: relative;
            @include flexcol;
            justify-content: space-between;
            height: 400px;

            & .liste-page{
                position: relative;
                @include flexcol
                background: $white;
                @include pad20;
                border-radius: 20px;
                @include boxsha;
                animation: slide-liste 1s both;
                overflow:hidden;
                opacity: 0;
                width: 90%;
                transform: translateX(100%);
                &:hover{
                    width: 74%;
                    overflow: visible;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    transform: translateX(70%);
                    transition: ease-in-out .4s;
                }
                & .fa-check-circle{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    top:0%;
                    bottom: 0%;
                    right: -61px;
                    width: 61px;
                    color:$white;
                    background: $tertiaire;
                    font-size: 1.5em;
                }

                &:nth-child(2n+1){
                    animation-delay: 0.3s;
                }
                &:nth-child(2n+2){
                    animation-delay: 0.5s;
                }
                &:nth-child(2n+3){
                    animation-delay: 0.7s;
                }
                &:nth-child(2n+4){
                    animation-delay: 0.9s;
                }
                & .checked{
                    position: absolute;
                }

                & h4{
                    font-size: 0.9em;
                    color:#7e7e7e;
                    font-weight: 400;
                    margin-top: 10px;
                    padding-right: 5px;
                }
                & p{
                    position: absolute;
                    right: 5%;
                    bottom: 20%;
                    z-index: 3;
                }
            }
        }   
    }
    .menu-page{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            @include flexcol;
            justify-content: space-between;
            height: 300px;

            & .liste-page{
                position: relative;
                @include flexcol;
                background: $white;
                @include pad20;
                border-radius: 20px;
                @include boxsha;
                animation: slide-liste 1s both;
                                overflow:hidden;
                opacity: 0;
                width: 90%;
                transform: translateX(100%);
                &:hover{
                    width: 74%;
                    overflow: visible;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    transform: translateX(70%);
                    transition: ease-in-out .4s;
                }
                & .fa-check-circle{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    top:0%;
                    bottom: 0%;
                    right: -61px;
                    width: 61px;
                    color:$white;
                    background: $tertiaire;
                    font-size: 1.5em;
                }

                &:nth-child(2n+1){
                    animation-delay: 0.3s;
                }
                &:nth-child(2n+2){
                    animation-delay: 0.5s;
                }
                &:nth-child(2n+3){
                    animation-delay: 0.7s;
                }
                & h4{
                    font-size: 0.9em;
                    color:#7e7e7e;
                    font-weight: 400;
                    margin-top: 10px;
                    padding-right: 5px;
                }
                & p{
                    position: absolute;
                    right: 3%;
                    bottom: 20%;
                }
            }
        }    
    }
}
@media screen and (min-width:1024px) {
    .menu-pc{
      display: flex;
        & .menu-page, .menu-page-entrees {
            width: 30%;
            & .liste-page{
                padding:20px 5px 20px 15px;
                width: 100%;
                overflow: hidden;
                transform: translateX(100%);
                &:hover{
                    width: 80%;
                    overflow: visible;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    transform: translateX(70%);
                    transition: ease-in-out .4s;
                }
                & .fa-check-circle{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    top:0%;
                    bottom: 0%;
                    right: -61px;
                    width: 61px;
                    color:$white;
                    background: $tertiaire;
                    font-size: 1.5em;
                }
            }
        }
    }
}
@media screen and (min-width:1440px) {
    .menu-pc{
      display: flex;
        & .menu-page, .menu-page-entrees {
            width: 30%;
            & .liste-page{
                padding:20px 5px 20px 15px;
                width: 100%;
                overflow: hidden;
                transform: translateX(100%);
                &:hover{
                    width: 86%;
                    overflow: visible;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    transform: translateX(70%);
                    transition: ease-in-out .4s;
                }
                & .fa-check-circle{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px;
                    top:0%;
                    bottom: 0%;
                    right: -61px;
                    width: 61px;
                    color:$white;
                    background: $tertiaire;
                    font-size: 1.5em;
                }
            }
        }
    }
}
