@media screen and (min-width:320px) {
    .menu-page-entrees{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            @include flexcol;
            justify-content: space-between;
            height: 400px;

            & .liste-page{
                position: relative;
                @include flexcol;
                background: $white;
                @include pad20;
                border-radius: 20px;
                @include boxsha;
                & h4{
                    font-size: 0.9em;
                    color:#7e7e7e;
                    font-weight: 400;
                    margin-top: 10px;
                }
                & .fas{
                    display: none;
                }
                & p{
                    position: absolute;
                    right: 3%;
                    bottom: 20%;
                }
            }
        }   

    }
    .menu-page{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            @include flexcol;
            justify-content: space-between;
            height: 300px;

            & .liste-page{
                position: relative;
                @include flexcol;
                background: $white;
                @include pad20;
                border-radius: 20px;
                @include boxsha;
                & h4{
                    font-size: 0.9em;
                    color:#7e7e7e;
                    font-weight: 400;
                    margin-top: 10px;
                }
                & .fas{
                    display: none;
                }
                & p{
                    position: absolute;
                    right: 3%;
                    bottom: 20%;
                }
            }
        }    
    }
}
@media screen and (min-width:1024px) {
    .menu-pc{
      display: flex;
        & .menu-page, .menu-page-entrees {
            width: 30%;
            & .liste-page{
                padding:20px 5px 20px 15px;
            }
        }
    }
}
