@media screen and (min-width:320px) {
    .menu-page{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            @include flexcol;
            justify-content: space-between;
            height: auto;

            & .liste-page{
                display: flex;
                background: $white;
                border-radius: 20px;
                margin-bottom: 20px;
                @include boxsha;
                animation: slide-liste 1s both;
                overflow:hidden;
                &:hover > p {
                    transform: translateX(-10px);
                    margin-right: 0px;
                }
                &:hover > .checked{
                    transform: translate(0);
                    width: 25%;
                }
                
                & >div:first-child{
                    padding:20px 10px 20px 10px;
                    overflow:hidden;
                    width: 100%;

                    & >h3:first-child{
                        margin-bottom: 10px;
                        font-size: 0.85em;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    & h4{
                        font-size: 0.75em;
                        color:#7e7e7e;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                }
                & p{
                    align-self: flex-end;
                    margin: 0 20px 20px 0px;
                    transform: translateX(10px);
                    transition: all 400ms ease-in-out;
                }
                & .checked{
                    background: $tertiaire;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5em;
                    transform: translateX(400px);
                    width: 0%;
                    transition: all 400ms ease-in-out;

                    & .fa-check-circle{
                        transition: ease-in-out 1.5s all;
                        animation: rotation 2s infinite;
                    }
                }
                &:nth-child(2n+1){
                    animation-delay: 0.3s;
                }
                &:nth-child(2n+2){
                    animation-delay: 0.5s;
                }
                &:nth-child(2n+3){
                    animation-delay: 0.7s;
                }
                &:nth-child(2n+4){
                    animation-delay: 0.9s;
                }
            }       
        }
    }    
}
@media screen and (min-width:1024px) {
    .menu-pc{
      display: flex;
        & .menu-page{
            width: 30%;
        }
    }
}