@media screen and (min-width:320px) {
    .menu-page{
        @include pad20;
        @include flexcol;

        & h2 {
            font-size: 1.1em;
            border-bottom:#99E2D0 3.5px solid;
            width: 11%;
            margin-bottom: 10px;
        }
        & ul {
            @include flexcol;
            justify-content: space-between;
            height: auto;

            & .liste-page{
                display: flex;
                background: $white;
                border-radius: 20px;
                margin-bottom: 20px;
                @include boxsha;
                animation: slide-liste 1s both;
                overflow:hidden;
                
                & >div:first-child{
                    padding: 20px;
                    width: 80%;
                    overflow:hidden;

                    & >h3:first-child{
                        margin-bottom: 10px;
                    }
                    & h4{
                        font-size: 0.9em;
                    }
                }
                & p{
                    align-self:flex-end;
                    padding:0 10px 20px 5px;
                }
                & .checked{
                    background: $tertiaire;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3em;
                    width:20%;
                }

                &:nth-child(2n+1){
                    animation-delay: 0.3s;
                }
                &:nth-child(2n+2){
                    animation-delay: 0.5s;
                }
                &:nth-child(2n+3){
                    animation-delay: 0.7s;
                }
                &:nth-child(2n+4){
                    animation-delay: 0.9s;
                }
                & h3{
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                & h4{
                    font-size: 0.8em;
                    color:#7e7e7e;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    }
                }    
            }
        }    
    }
@media screen and (min-width:1024px) {
    .menu-pc{
      display: flex;
        & .menu-page, .menu-page-entrees {
            width: 30%;
        }
    }
}
